<!-- <ul *ngFor="let block of timelineBlock">
  <li>
    {{ block.date }}
    <ul>
      <li *ngFor="let user of block.filteredUser">
        {{ user.username }}, {{ user.date }}
      </li>
    </ul>
  </li>
</ul>
<button (click)="saveUser()">Salvar</button>

<button (click)="editUser()">Editar</button> -->

<app-input
  [inicial]="0"
  [step]="10"
  [minValorInicial]="0"
  [maxValorInicial]="60"
  [placeholder]="'Quantity Required'"
  [disabled]="false"
  (onChangeValorInicial)="valorInicialAtualizado($event)"
></app-input>
<router-outlet></router-outlet>
